
.tg, #calc-mono-table  {margin-bottom: 20px;}
.w50 {width: 50%;}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width:auto;
  max-width: 790px;
  margin: 20px auto;
}

#mono-calx td {
	border: 1px solid #D5D5D5;
padding: 5px;
}

#mono-calx tr {
	border: 1px solid #D5D5D5;
}
.textleft {
	text-align: left !important;
}
#calc-mono-table {
	width: 340px;
	border: 1px solid;
	border-color: #e6e6e6;
}
.widget-area #calc-mono-table {
	width: 100%;
	max-width: 100%;
}
